<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="../../../css/main/mensajes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>

    
    <%- include ("../partials/header.ejs") %>

   
    <section>
        <h2 class="section-titulo animadoFijo">Listado de mensajes</h2>
        <main>
            <% mensajes.forEach(mensaje => { %>
            <div class="mensaje">
                <p>Nombre: <span> <%= mensaje.nombre %></span></p>
                <p>Teléfono: <span><%= mensaje.cel %></span></p>
                <p>Correo electrónico: <span><%= mensaje.mail %></span></p>
                <p>Mensaje: <span> <%= mensaje.mensaje %> </span> </p>
            </div>
            <% }) %>
        </main>
       


    </section>



    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
    
    <script src="../../../js/menu-hamburguesa.js"></script>
</body>
</html>