<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="../../../css/informacion/hospedaje.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>

    
    <%- include ("../partials/header.ejs") %>

    <section class="section-hospedajes">
        <h2 class="section-titulo animadoFijo" style="color: #F4B41A; height: 25vh; display: flex; align-items: center; justify-content: center;"> Casas de comida en el Cadillal</h2>
        
        <% informacion.forEach(informacion => { if(informacion.rubro == "casa de comida"){ %>
            <article class="tarjeta-hospedaje animadoFijo">
                <div class="columna-tarjeta-hospedaje-img">
                    <img src="../../../img/informacion/<%= informacion.imagen %>" alt="img-hospedaje">
                </div>
                <div class="columna-tarjeta-hospedaje-info">
                    <h3 class="titulo-hospedaje" style="color: #F4B41A;"><%= informacion.titulo %></h3>
                    <p>Ubicación: <span><%= informacion.ubicacion %> </span> <span><a href=<%= informacion.maps %>> Ver ubicacion en google maps</a></span></p>                    <p>Detalle: <span><%= informacion.detalles %></span></p>
                    <p>Detalle: <span><%= informacion.detalles %></span></p>
                    <p>Dias de atención: <span><%= informacion.diasDeAtencion %></span></p>
                    <p>Horarios de atención: <span><%= informacion.horarioDeAtencion %></span></p>
                    <p>Teléfono para reservas o consultas: <span> <%= informacion.telefono %> </span></p>
                </div>
                 </article>
            <% }}) %>

    </section>



    
    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
</body>
</html>